.version.index /* version checker */
{
	color: #00001C;
	background-color: #301CC3;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
}

#page_position_content
{
	padding-top: 10px;
	padding-bottom: 71px;
	width: 0.01px;
}

#u181
{
	z-index: 2;
	width: 402px;
	left: -12px;
}

#u94-4
{
	z-index: 7;
	width: 180px;
	min-height: 29px;
	background-color: transparent;
	color: #717171;
	line-height: 28px;
	font-size: 23px;
	text-align: center;
	font-family: lobster, serif;
	font-weight: 400;
	margin-left: 96px;
	margin-top: 9px;
	position: relative;
}

#u95-4
{
	z-index: 11;
	width: 235px;
	min-height: 17px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 14px;
	text-align: center;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: bold;
	font-style: normal;
	margin-left: 67px;
	margin-top: 4px;
	position: relative;
}

#u92
{
	z-index: 5;
	width: 82px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #0000FF;
	margin-left: 10px;
	margin-top: 4px;
	position: relative;
}

#u93
{
	z-index: 6;
	width: 98px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #0000FF;
	margin-left: 272px;
	top: -2px;
	margin-bottom: -1px;
	position: relative;
}

#u96-6
{
	z-index: 15;
	width: 360px;
	min-height: 61px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	margin-left: 10px;
	margin-top: 15px;
	position: relative;
}

#pu91
{
	width: 0.01px;
	margin-top: 5px;
}

#u91
{
	z-index: 4;
	min-height: 103px;
	border-width: 1px;
	border-style: solid;
	border-color: #D1D1D1;
	padding-bottom: 16px;
	background: #FFFFFF url("../images/background.jpg") repeat left top;
}

#u97
{
	z-index: 21;
	width: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 19px;
}

#u101-4
{
	z-index: 25;
	width: 258px;
	min-height: 17px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 19px;
	font-size: 16px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u102-6
{
	z-index: 29;
	width: 210px;
	min-height: 55px;
	background-color: transparent;
	font-size: 14px;
	color: #7F7F7F;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	margin-top: 10px;
	position: relative;
}

#u91-bw
{
	z-index: 4;
	min-height: 103px;
}

#u99
{
	z-index: 23;
	width: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 40px;
}

#ppu106-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 10px;
}

#pu106-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 100px;
}

#u106-4
{
	z-index: 38;
	width: 160px;
	min-height: 17px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 19px;
	font-size: 16px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u107-6
{
	z-index: 42;
	width: 210px;
	min-height: 55px;
	background-color: transparent;
	font-size: 14px;
	color: #7F7F7F;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	margin-top: 9px;
	position: relative;
}

#u104
{
	z-index: 36;
	width: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u108
{
	z-index: 48;
	width: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 19px;
}

#pu103
{
	width: 0.01px;
	margin-top: 9px;
}

#u103
{
	z-index: 35;
	min-height: 101px;
	border-width: 1px;
	border-style: solid;
	border-color: #D1D1D1;
	padding-bottom: 11px;
	background: #FFFFFF url("../images/background.jpg") repeat left top;
}

#u110
{
	z-index: 50;
	width: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 19px;
}

#pu101-4,#pu112-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 17px;
	margin-left: 119px;
}

#u112-4
{
	z-index: 52;
	width: 160px;
	min-height: 17px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 19px;
	font-size: 16px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u113-6
{
	z-index: 56;
	width: 179px;
	min-height: 22px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 16px;
	font-size: 13px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	margin-top: 16px;
	position: relative;
}

#u103-bw
{
	z-index: 35;
	min-height: 101px;
}

#u114
{
	z-index: 62;
	width: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 40px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

